.huge { font-size: 64pt; }
.centered { margin-left: auto; margin-right: auto; float: left; }
.wtf, a.wtf { color: #000000; text-decoration: none; }
a:hover { text-decoration: underline; color: blue;}
