!!! 5
html(lang='en')
  head
    title :flaviusb
    meta(http-equiv="content-type", content="application/xhtml+xml; charset=utf-8")
    meta(name="google-site-verification", content="6y_kSRBbkvXwVRvnTJy7Dsy6J1ODLla2oHGJt2bmAew")
    link(rel="stylesheet", type="text/css", href="http://flaviusb.net/style.css")
    link(rel="stylesheet", type="text/css", href="http://flaviusb.net/mono.css")
    link(rel="stylesheet", type="text/css", href="http://flaviusb.net/syntax.css")
    link(href='http://fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet', type='text/css')
    link(rel="shortcut icon", href="http://flaviusb.net/favicon.ico", type="image/x-icon")
    link(rel="icon", href="http://flaviusb.net/favicon.ico", type="image/x-icon")
    link(href="http://flaviusb.net/atom.xml", type="application/atom+xml", rel="alternate", title="Blog Atom Feed")
  body(class="highlight")
    div!= code
