header, footer, aside, nav, article {
  display: block;
}

body { font-family: 'Inconsolata' }

.pipevar { color: #6a5acd }
.prevar { color: #008b8b }
.comment { color: #0000ff }
.string, .string a { color: #ff00ff; text-decoration: none; }
a:hover { text-decoration: underline; color: blue;}
.escape, .escape a { color: #6a5acd;  }
