header, footer, aside, nav, article {
  display: block;
}

.pipevar { color: #6a5acd }
.prevar { color: #008b8b }
.comment { color: #0000ff }
a { color: #000000; text-decoration: none; }
.string, .string a { color: #ff00ff; text-decoration: none; }
a:hover { text-decoration: underline; color: blue;}
.escape, .escape a { color: #6a5acd;  }

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span, ul.posts span a {
  color: #aaa;
  font-size: 80%;
}

.sidebox { float: right; }
